



* {
    box-sizing: border-box;
  }

  /* form #header{
    box-shadow: 0px 3px 5px 0;
  } */
  
  #survey{
    box-shadow: 0 3px 3px 0;
  }

  
  .form-field {
    flex: 2;
  }
 
  #content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #content h1 {
    color: #ff7200;
  }
  .form-field label
  {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #ff7200;
  }
  
  input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  
  input:focus {
    border: 1px solid #0f1623;
  }
  
  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }
  button {
    background: #ff7200;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .add-btn{
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background:#ff7200;
    border: 1px solid #ff7200;
    color: #FFF;
  }
  
  .submit-btn{
    float: inline-end;
    /* margin-right: 150px; */
    background: #ff7200;
    color: white;
    border: 1px solid #ff7200;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px 15px;
  }
  
  .second-division button {
    color: white;
    border: 1px solid red;
  }
  